@import "../node_modules/bootstrap/scss/bootstrap";

.wd {
  width: 400px;
  height: 400px;
}

.logo {
  width: 300px;
}

.bttn {
  list-style: none;
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 25px;
}